$bg: #08213b;
$accent: #ecebe4;
$primaryfont: "Source Sans Pro", sans-serif;
$headerfont: "Roboto Slab", serif;

h1,
h2,
h3 {
  color: $accent;
  font-family: $headerfont;
  font-weight: 300;
}

h3 {
  font-size: 32px;
  margin: 15px 0px 15px 0px;
}

header {
  height: 100px;
  background-color: $bg;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
  h1 {
    font-size: 48px;
    font-family: $headerfont;
    font-weight: 700;
    color: $accent;
    margin: 5px 0px 10px 0px;
  }
  nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      a {
        text-transform: uppercase;
        font-family: $primaryfont;
        text-decoration: none;
        color: $accent;
        font-size: 18px;
        margin: 0px 5px 0px 5px;
        transition: 0.3s;
      }
      a:hover {
        font-weight: 700;
      }
    }
  }
}

body {
  background-color: $bg;
  span,
  p,
  label {
    color: $accent;
    font-family: $primaryfont;
  }
}

#greybox {
  display: none;
  position: fixed;
  opacity: 0.5;
  height: 100vh;
  width: 100vw;
  background-color: grey;
  z-index: 1;
  top: 0;
  left: 0;
}

#inputs {
  text-align: center;
  border: 2px double $accent;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  #saltimg {
    position: absolute;
    width: 50px;
    right: 20px;
  }
}

.container {
  margin: auto;
  max-width: 560px;
}

.form-row {
  width: 100%;
}

.buttons {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Customize the label (the radio) */
.radio {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 5px;
  position: relative;
}

/* Hide the browser's default radio button */
.radio input {
  display: none;
}

/* Create a custom radio button */
.checkmark {
  display: inline-flex;
  align-items: center;
  padding: 5px;
  border: 2.2px solid $accent;
  border-radius: 6px;
  height: 60%;
}

/* When the radio button is checked, add a blue background */
.radio input:checked ~ .checkmark {
  background-color: $accent;
  color: $bg;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Style the indicator (dot/circle) */
.radio .checkmark:after {
  display: none;
}

// Adds sweep to bottom button effect
.hvr-sweep-to-bottom {
  display: inline-flex;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 101%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $accent;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-bottom:hover,
.hvr-sweep-to-bottom:focus,
.hvr-sweep-to-bottom:active {
  color: $bg;
}

.hvr-sweep-to-bottom:hover:before,
.hvr-sweep-to-bottom:focus:before,
.hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
// End of sweep to bottom button effect

/* Customize the label (the radio) */
.weightradio {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 5px;
}

/* Hide the browser's default radio button */
.weightradio input {
  display: none;
}

/* Create a custom radio button */
.weightradio .checkmark {
  padding: 5px;
  height: 12.5px;
  width: 20px;
  display: inline-flex;
  justify-content: flex-end;
}

/* When the radio button is checked, add a blue background */
.weightradio input:checked ~ .checkmark {
  color: $bg;
  background-color: $accent;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Style the indicator (dot/circle) */
.weightradio .checkmark:after {
  display: none;
}

// Styling meat weight number input
#meatWeightContainer {
  width: 91px;
  margin: auto;
  position: relative;
}

#meatWeight {
  height: 50px;
  width: 60px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px 0px 0px 5px;
  background-color: $accent;
  font-size: 20px;
  padding-left: 10px;
  color: $bg;
}

.meatWeightLb {
  border-width: 1.5px 1.5px 1.5px 0px;
  font-size: 10px;
  padding: 3px;
  right: 0px;
  position: absolute;
  border-radius: 0px 5px 0px 0px;
}

.meatWeightKg {
  border-width: 0px 1.5px 1.5px 0px;
  font-size: 10px;
  padding: 3px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  border-radius: 0px 0px 5px 0px;
}

// displays an alert if a user clicks on salt selection before indicating lbs or kgs
#weightSelectionAlert {
  display: none;
  background-color: $accent;
  border-radius: 5px;
  width: 100px;
  position: absolute;
  left: 120%;
  top: -30%;
  p {
    color: $bg;
  }
}

#weightSelectionAlert::after {
  content: " ";
  position: absolute;
  right: 100%;
  top: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: dashed;
  border-color: transparent $accent transparent transparent;
}

#meatWeight:focus {
  outline: none;
}

.output {
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  background-color: $accent;
  text-align: left;
  //   margin: auto;
}

.output {
  h1,
  h2,
  h3,
  span,
  p {
    color: $bg;
  }
  h1,
  h2,
  h3 {
    border-bottom: 1.2px dashed;
  }
}

#feedback {
  position: relative;
  border: 2px double $accent;
  padding: 10px;
  background-color: #284564;
  margin: 30px auto 30px auto;
  box-sizing: border-box;
  text-align: center;
  h3 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
    color: $accent;
  }
  .close {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    color: white;
    cursor: pointer;
    outline: inherit;
  }
}

#about {
  a {
    color: white;
  }
  padding-bottom: 30px;
  border-bottom: 2px solid $accent;
}

footer {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  span {
    color: $bg;
  }
  a {
    color: $accent;
  }
}
@media only screen and (max-width: 500px) {
  html {
    width: 100vw;
  }

  header {
    margin-bottom: 0px;
    border-bottom: 2px solid $accent;
    h1 {
      font-size: 32px;
    }
    nav {
      ul {
        li {
          a {
            font-size: 14px;
          }
        }
      }
    }
  }

  body {
    margin: 10px;
    overflow-x: hidden;
  }

  #inputs {
    border: none;
    h2 {
      font-size: 24px;
      margin: 10px 0px 10px 0px;
    }
    #saltimg {
      width: 35px;
      top: 190px;
    }
  }

  .output {
    margin: 0px auto 0px auto;
  }

  #feedback {
    h3 {
      font-size: 24px;
    }
    p {
      font-size: 14px;
    }
    .feedbackButtons {
      margin-bottom: 0px;
    }
    .close {
      margin-top: 0px;
    }
  }

  #about {
    text-align: left;
  }
}
