/* Customize the label (the radio) */
.weightradio {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 5px;
  position: relative;
}

/* Hide the browser's default radio button */
.weightradio input {
  display: none;
}

/* Create a custom radio button */
.checkmark {
  display: inline-flex;
  align-items: center;
  padding: 5px;
  border: 2.2px solid $accent;
  border-radius: 6px;
  height: 100%;
}

/* When the radio button is checked, add a blue background */
.weightradio input:checked ~ .checkmark {
  background-color: $accent;
  color: $bg;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Style the indicator (dot/circle) */
.weightradio .checkmark:after {
  display: none;
}
